body {
    font-family: 'Quicksand', sans-serif;
    background-color: #abebb1;
    text-align: center;
}

.aboutMeImg {
    width: 130px;
    border: 1px black solid;
}

.friendsImg {
    width: 100px;
    border: 1px black solid;
}

.headerText {
    font-family: 'Anton', sans-serif;
}

.navItem,
.headerItem {
    background-color: #90e0df;
    border: 1px solid black;
    margin: 10px;
    padding: 2px;
    text-align: center;
}

.border {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.wall {
    width: 500px;
    background-color: white;
}

.aboutMe,
.friends {
    width: 200px;
    background-color: white;
}

.main {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

img {
    width: 400px;
}